<div id="bound-context">
    Hello World!

    email: <input type="text" v-model="email"/><br />
    password: <input type="text" v-model="password" /><br />
    <button type="button" v-on:click="AttemptLogin()">login</button><br />
    <span v-bind:text="responseText">STATUS MESSAGE</span>

</div>

<script>
    new Vue({
        el: '#bound-context',
        data: {
            email: 'sean@altsrc.net',
            password: 'test',
            responseText: '',
        },
        methods: {
            AttemptLogin: function () {
                var self = this;
                $.ajax({
                    url: '/json/account/login',
                    method: 'POST',
                    contentType: 'application/json',
                    xhrFields: {
                        withCredentials: true,
                    },
                    data: JSON.stringify({
                        Email: this.email,
                        Password: this.password,
                    })
                }).done(function (data) {
                    self.responseText = data;
                }).fail(function (error) {
                    self.responseText = 'error: ' + error;
                })
            }
        }
    })
</script>